.offline-layout{
  font-family: "微软雅黑";
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}
h1,h2,h3,h4,h5,h6,p,span,div,span,a{
  font-family: "微软雅黑";
  line-height: 1em;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}
.offline-wrap{
  width: 7.1rem;
  margin: 0 auto;
}
.offline-overflow{
  overflow: hidden;
}
.offline-text-content{
  width: 6.9rem;
  margin: 0 auto;
}
.offline-row{
  margin: .13rem 0;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-around;
}
.offline-row__cell{
  width: 2.3rem;
  height: 2.3rem;
}
.offline-layout .offline-header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 1rem;
  padding: 0 .34rem;
  background-color: #383e49;
}
.offline-header .offline-header__logo{
  float: left;
  width: 1.88rem;
  height: .62rem;
  margin: 0.18rem 0;
}
.offline-header .offline-login{
  float: left;
  width: 1.35rem;
  height: .54rem;
  line-height: .54rem;
  font-size: .26rem;
  color: #fff;
  text-align: center;
  border: 1px solid #52c018;
  border-radius: 3px;
  margin: .22rem 10px;
}
.offline-header .offline-register{
  float: left;
  width: 1.35rem;
  height: .54rem;
  line-height: .54rem;
  font-size: .26rem;
  color: #fff;
  text-align: center;
  background-color: #52c018;
  border: 1px solid #52c018;
  border-radius: 3px;
  margin: .22rem 0;
}
.offline-spot .offline-spot__title,
.offline-furnish .offline-furnish__title,
.offline-feature .offline-feature__title,
.offline-service .offline-service__title,
.offline-merchant .offline-merchant__title{
  padding: .78rem 0 .58rem;
  font-size: .48rem;
  color: #333;
}

/* offline-banner Begin */
.offline-layout__content {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-y: scroll;
}
.offline-banner{
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.offline-banner .offline-banner__wrapper{
  width: 7.5rem;
  height: 7.4rem;
}
.offline-banner .swiper-slide{
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:  100% 100%;
}
.offline-banner .offline-slide--1{
  background-image: url("../images/offline-banner1.png");
}
.offline-banner .offline-slide--2{
  background-image: url("../images/offline-banner2.png");
}
.offline-banner .offline-slide--3{
  background-image: url("../images/offline-banner3.png");
}
.offline-banner .offline-slide__explain{
  padding-top: .5rem;
  font-family: "宋体";
  text-align: center;
}
.offline-banner .swiper-pagination-bullet{
  width: 40px;
  height: 4px;
  background-color: #80aee1;
  border-radius: 0;
  opacity:1;
}
.offline-banner .swiper-pagination-bullet-active{
  background-color: #fff;
}
.offline-slide__explain .offline-highlight{
  color: #fff;
  font-size: .36rem;
  padding-bottom: .15rem;
}
.offline-slide__explain .offline-des{
  color: #fff;
  font-size: .21rem;
  line-height: .4rem;
}
.offline-layout__content .offline-banner .offline-register{
  position: absolute;
  z-index: 999;
  width: 2.15rem;
  height: .7rem;
  line-height: .65rem;
  font-size: .24rem;
  color: #fff;
  text-align: center;
  background-color: #52c018;
  border: 1px solid #52c018;
  border-radius: 3px;
  left: 0;
  right: 0;
  bottom: .6rem;
  margin: auto;
} 
.offline-honor{
  text-align: center;
  height: 1.4rem;
  background-image: url("../images/offline-honor.png");
  background-position: center center;
  background-size: cover;
  padding: .29rem 0;
}
.offline-honor .offline-honor__title{
  color: #fff;
  font-size: .28rem;
} 
.offline-honor .offline-honor__des{
  display: inline-block;
  font-size: .32rem;
  background: linear-gradient(to right, #00ff96, #714bff);
  -webkit-background-clip: text;
  color: transparent;
}
/* offline-banner End */


/* offline-spot Begin*/
.offline-spot {
  text-align: center;
  background-color: #f8f8f8;
  padding-bottom: .66rem;
}
.offline-spot {
  text-align: center;
  background-color: #f8f8f8;
}
.offline-spot .spot {
  width: 3.44rem;
  min-height: 3.6rem;
  padding-bottom: .1rem;
  text-align: center;
  background: #fff;
}
.offline-spot .offone-spot1{
  display: block;
  width:100%;
  height: 2.26rem;
  background-image: url("../images/offone-spot1.png");
  background-position: center center;
  background-size: cover;
}
.offline-spot .offone-spot2{
  display: block;
  width:100%;
  height: 2.26rem;
  background-image: url("../images/offone-spot2.png");
  background-position: center center;
  background-size: cover;
}
.offline-spot .spot .spot__title{
  padding-top: .3rem;
  color: #030000;
  font-size: .3rem;
  line-height: .46rem
}
.offline-spot .spot .spot__des{
  color: #666;
  font-size: .16rem;
  line-height: .34rem;
}
/* offline-spot End */


/* offline-furnish Begin*/
.offline-furnish{
  background: #fff;
  text-align: center;
  padding-bottom: .6rem;
}
.offline-furnish .offline-furnish__title{
  padding-bottom: .6rem;
}
.offline-furnish .furnish{
  margin-bottom: .2rem;
  height: 6.53rem;
  background: #f8f8f8;
  text-align: center;
}
.offline-furnish .furnish .furnish__img{
  margin: 0 auto;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}
.offline-furnish .furnish .furnish__title{
  font-size: .36rem;
  color: #333;
  line-height: .54rem;
}
.offline-furnish .furnish .furnish__des{
  font-size: .2rem;
  color: #666;
  line-height: .36rem;
}
.offline-furnish .furnish--1{
  padding-top:.9rem;
}
.offline-furnish .furnish .furnish__img--1{
  margin-bottom: .05rem;
  width: 6.59rem;
  height: 4.07rem;
  background-image: url("../images/offline-furnish1.png");
  background-size:  6.59rem  4.07rem;
}
.offline-furnish .furnish--2{
  padding-top:.88rem;
}
.offline-furnish .furnish .furnish__img--2{
  margin-bottom: .36rem;
  width: 6.58rem;
  height: 3.76rem;
  background-image: url("../images/offline-furnish2.png");
  background-size:  6.58rem  3.76rem;
}
.offline-furnish .furnish--3{
  padding-top:.78rem;
}
.offline-furnish .furnish .furnish__img--3{
  width: 6.58rem;
  height: 4.4rem;
  background-image: url("../images/offline-furnish3.png");
  background-size:  6.58rem  4.4rem;
}
.offline-furnish .furnish--4{
  padding-top:.29rem;
}
.offline-furnish .furnish .furnish__img--4{
  width: 6.56rem;
  height: 4.71rem;
  background-image: url("../images/offline-furnish4.png");
  background-size:  6.56rem  4.71rem;
}
/* offline-furnish End*/


/* offline-anxious Begin */
.offline-anxious{
  background: #f8f8f8;
  text-align: center;
  padding: .46rem 0 .35rem;
}
.offline-anxious .offline-anxious__title{
  font-size: .36rem;
  color: #030000;
  line-height: .64rem;
}
.offline-anxious .offline-anxious__des{
  font-size: .24rem;
  color: #666;
  line-height: .51rem;
}
.offline-anxious  .offline-anxious__info{
  margin:.34rem .1rem;
  box-shadow: 0 0 5px rgba(183, 183, 183, 0.82)
}
.offline-anxious  .offline-anxious__info .info__img{
  display: block;
  width: 100%;
  height: 3.02rem;
  background-image: url("../images/onffline-anxious.png");
  background-position: center center;
  background-size: cover;
}
.offline-anxious  .offline-anxious__info .offline-row--padding{
  padding: .18rem .1rem;
  margin: 0;
}
.offline-anxious  .offline-anxious__info .info-list{
  line-height: .69rem;   
  font-size: .18rem;
  color:#030000;     
  text-align: left; 
  padding: 0;
  margin: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}
.offline-anxious__info .info-list .disc{
  padding: 3px;
  background-color: #7d7d7d;
  border-radius: 50%;
  margin-top: .3rem;
  float: left;
  margin-right: .05rem;
  /* display: none; */
}
iframe#main{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* offline-anxious End */

/* offline-feature Begin */
.offline-feature{
  text-align: center;
  width: 100%;
  height: 7.88rem;
  background-image: url("../images/offline-bg1.png");
  background-position: center center;
  background-size: cover;
}
.offline-feature .offline-wrap{
  justify-content:space-between;
}
.offline-feature .offline-feature__title{
  color: #fff;
  padding: .84rem 0 .48rem;
}
.offline-feature .offline-row__cell{
  background: #fff;
}
.offline-feature .offline-icon{
  height: 1.32rem;
  position: relative;
}
.offline-feature .offline-icon>i{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.offline-feature .offline-row__cell .annotation{
  font-size: .24rem;
  color: #333;
  padding-top: .2rem;
}
.offline-service{
  text-align: center;
  background: #f8f8f8;
  padding-bottom: .68rem;
}
.offline-service .offline-service__title{
  padding: .92rem 0 .7rem;
}
.offline-service .offline-row__cell{
  background-size: 2.3rem 2.3rem;
  background-position: center center;
  color: #fff;
  font-size: .3rem;
  display: -webkit-flex;
  display: flex;
  align-items:center;
  justify-content: center;
}
.offline-service .offline-row__cell--1{
  background-image:url("../images/offline-service1.png");
}
.offline-service .offline-row__cell--2{
  background-image:url("../images/offline-service2.png");
}
.offline-service .offline-row__cell--3{
  background-image:url("../images/offline-service3.png");
}
.offline-service .offline-row__cell--4{
  background-image:url("../images/offline-service4.png");
}
.offline-service .offline-row__cell--5{
  background-image:url("../images/offline-service5.png");
}
.offline-service .offline-row__cell--6{
  background-image:url("../images/offline-service6.png");
}
/* offline-feature End */

/* offline-merchant Begin */
.offline-merchant{
  text-align: center;
  background: #fff;
  padding-bottom: 1.6rem;
}
.offline-merchant .offline-merchant__title{
  background: #fff;
}
.offline-merchant .offline-merchant__img{
  width: 7.1rem;
  height: 5.66rem;
  margin: 0 auto;
}
/* offline-merchant End */
.offline-footer{
  text-align: center;
  height: .85rem;
  line-height: .85rem;
  color: #64676b;
  background: #000723;
  font-size: .24rem;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(117, 117, 117, 0.66);
}
.modal .modal__tel {
  width: 6rem;
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
}
.modal__tel .tel__title {
  margin: 0;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: .3rem;
  font-weight: bold;
}
.modal__tel .tel__remind {
  font-size: .24rem;
  line-height: 1.5em;
  height: 1rem;
  text-align: center;
  padding: 0 1.3rem;
  margin: 0;
}
.modal__tel .tel__operation {
  height: 1rem;
  font-size: .3rem;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.modal__tel .cancel, .modal__tel .confirm {
  flex: 1;
  -webkit-box-flex: 1;
  height: 1rem;
  line-height: 1rem;
  border-right: 1px solid #e5e5e5;
}
.modal__tel .confirm {
  color: #52c018;
  border: 0;
}

/* icon */
.icon-client {
  width:.62rem; 
  height:.68rem; 
  display:inline-block; 
  background-image:url("../images/icon-client.png");
  background-size: .62rem .68rem; 
}
.icon-code {
  width:.62rem; 
  height:.62rem; 
  display:inline-block; 
  background-image:url("../images/icon-code.png");
  background-size: .62rem .62rem; 
}
.icon-data {
  width:.69rem; 
  height:.62rem; 
  display:inline-block; 
  background-image:url("../images/icon-data.png");
  background-size: .69rem .62rem; 
}
.icon-packet {
  width:.53rem; 
  height:.61rem; 
  display:inline-block; 
  background-image:url("../images/icon-packet.png");
  background-size: .53rem .61rem; 
}
.icon-sale {
  width:.61rem; 
  height:.61rem; 
  display:inline-block; 
  background-image:url("../images/icon-sale.png");
  background-size: .61rem .61rem;
}
.icon-sync {
  width:.96rem; 
  height:.61rem; 
  display:inline-block; 
  background-image:url("../images/icon-sync.png");
  background-size: .96rem .61rem;
}
.offline-tel {
  width: 1.17rem;
  height: 1.17rem;
  display: inline-block;
  background-image: url(../images/offline-tel.png);
  background-size: 1.17rem 1.17rem;
  position: fixed;
  z-index: 999;
  bottom: 1.1rem;
  right: .1rem;
}

/* 登录下拉菜单 */
.dropdown-box {
  position: relative;
  display: inline-block;
  float: left;
  margin: .22rem 10px;
}
.dropdown-btn {
  height: .55rem;
  width: 1.35rem;
  line-height: .55rem;
  font-size: .26rem;
  color: #fff;
  border: 1px solid #52c018;
  border-radius: .04rem;
  justify-content: center;
  text-align: center;
}
.dropdown-content {
  position: absolute;
  top: .56rem;
  left: -.2rem;
  display: none;
}
.dropdown-content a {
  display: block;
  width: 1.75rem;
  line-height: .55rem;
  text-align: center;
  margin-left: 0;
  background: #383e49;
  border-radius: 0;
  font-size: .26rem;
  color: #fff;
  border: 1px solid #52c018;
}
.dropdown-content a:last-child {
  border-top: 0;
}
.caret {
  position: relative;
  top: -.02rem;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .04rem;
  vertical-align: middle;
  border-top: .08rem dashed;
  border-top: .08rem solid;
  border-right: .08rem solid transparent;
  border-left: .08rem solid transparent;
}
.show {
  display: block !important;
}
.is-wechatone {
  display: none;
}